    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3> <span>Health care</span> <br><br>
                                    For Hole Family </h3>
                                <p>In healthcare sector, service excellence is our moto <br> the patient is 
                                our priority</p>
                                <a href="check_service" class="boxed-btn3">Check Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_1">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3> <span>Health care</span> <br><br>
                                    For Hole Family </h3>
                                <p>In healthcare sector, service excellence is our moto <br> the patient is 
                                our priority</p>
                                <a href="check_service" class="boxed-btn3">Check Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3> <span>Health care</span> <br><br>
                                    For Hole Family </h3>
                                <p>In healthcare sector, service excellence is our moto <br> the patient is 
                                our priority</p>
                                <a href="check_service" class="boxed-btn3">Check Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->
     <!-- service_area_start -->
<div class="service_area">
    <div class="container p-0">
        <div class="row no-gutters">
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-electrocardiogram"></i>
                    </div>
                    <h3>Diagnoses</h3>
                    <p>We try to provide the best diagnosis possible </p>
                    <br>
                    <a href="check_service" class="boxed-btn3-white">Get diagnosed</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-emergency-call"></i>
                    </div>
                    <h3>Best Recommandations</h3>
                    <p>According  to the diagnosis provided we try to give u the best precautions to take .</p>
                    <a href="#" class="boxed-btn3-white">Get Recommandations</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-first-aid-kit"></i>
                    </div>
                    <h3>Doctors reviews</h3>
                    <p>Our doctors are always at your service to comment and give further help.</p>
                    <br>
                    <a href="/doctor" class="boxed-btn3-white">Contact doctors</a>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- welcome_docmed_area_start -->
 <div class="welcome_docmed_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="welcome_thumb">
                    <div class="thumb_1">
                        <img src="../assets/img/about/1.png" alt="">
                    </div>
                    <div class="thumb_2">
                        <img src="../assets/img/about/2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="welcome_docmed_info">
                    <h2>Welcome to Docmed</h2>
                    <h3>Best Diagnosis For Your <br>
                            Good Health</h3>
                            <p>Our service leverages advanced AI technology to provide accurate diagnoses and tailored recommendations.
                                 With the power of artificial intelligence, we analyze your symptoms and medical data to offer personalized insights,
                                 ensuring you receive the best possible guidance for your health and well-being.</p>
                    <ul>
                        <li> <i class="flaticon-right"></i> Immediate Diagnosis. </li>
                        <li> <i class="flaticon-right"></i> Appropriate recommandations.</li>
                        <li> <i class="flaticon-right"></i> Doctors service garanteed. </li>
                    </ul>
                    <a href="#" class="boxed-btn3-white-2">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- welcome_docmed_area_end -->
  
     <!-- <app-departments></app-departments> -->
     <app-doctors></app-doctors>
     <app-contact></app-contact>